nodeRED_Modbus_PMM.json
[
    {
        "id": "831fc420f4ebbd11",
        "type": "tab",
        "label": "Modbus - Power Measurment",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "11fa2e0c8cea2bf0",
        "type": "modbus-read",
        "z": "831fc420f4ebbd11",
        "name": "FC3 - 524",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "524",
        "quantity": "1",
        "rate": "5",
        "rateUnit": "h",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "22686392499a3421",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 400,
        "y": 360,
        "wires": [
            [
                "7e09bfc735b8167d"
            ],
            [
                "c20944b3019b4a90"
            ]
        ]
    },
    {
        "id": "7e09bfc735b8167d",
        "type": "debug",
        "z": "831fc420f4ebbd11",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "c20944b3019b4a90",
        "type": "debug",
        "z": "831fc420f4ebbd11",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 380,
        "wires": []
    },
    {
        "id": "38bf77e965697e53",
        "type": "modbus-read",
        "z": "831fc420f4ebbd11",
        "name": "FC1 - 512",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "Coil",
        "adr": "512",
        "quantity": "2",
        "rate": "5",
        "rateUnit": "h",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "22686392499a3421",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 400,
        "y": 260,
        "wires": [
            [
                "38816e0e6d1b12d3"
            ],
            [
                "46dd63ea7f322261"
            ]
        ]
    },
    {
        "id": "38816e0e6d1b12d3",
        "type": "debug",
        "z": "831fc420f4ebbd11",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "46dd63ea7f322261",
        "type": "debug",
        "z": "831fc420f4ebbd11",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "2f63c8fea707c9d0",
        "type": "modbus-write",
        "z": "831fc420f4ebbd11",
        "name": "FC15 - 512",
        "showStatusActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "MCoils",
        "adr": "512",
        "quantity": "2",
        "server": "22686392499a3421",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "16eb1d6b8a7d795b"
            ],
            [
                "16eb1d6b8a7d795b"
            ]
        ]
    },
    {
        "id": "e4b7928e2066e054",
        "type": "inject",
        "z": "831fc420f4ebbd11",
        "name": "true",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1]",
        "payloadType": "str",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "a77c9a08d7eb6d8b"
            ]
        ]
    },
    {
        "id": "cd9bd1e4c9e9e91b",
        "type": "inject",
        "z": "831fc420f4ebbd11",
        "name": "false",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "a55006eaeed0a283"
            ]
        ]
    },
    {
        "id": "b14034cf6da51f04",
        "type": "comment",
        "z": "831fc420f4ebbd11",
        "name": "Read (FC3)",
        "info": "",
        "x": 170,
        "y": 360,
        "wires": []
    },
    {
        "id": "ec9dc6d7ed4b0ab7",
        "type": "comment",
        "z": "831fc420f4ebbd11",
        "name": "Read (FC1)",
        "info": "",
        "x": 170,
        "y": 260,
        "wires": []
    },
    {
        "id": "85b6167eb54a1885",
        "type": "comment",
        "z": "831fc420f4ebbd11",
        "name": "Write (FC15)",
        "info": "",
        "x": 170,
        "y": 80,
        "wires": []
    },
    {
        "id": "16eb1d6b8a7d795b",
        "type": "debug",
        "z": "831fc420f4ebbd11",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 160,
        "wires": []
    },
    {
        "id": "8137850639a38754",
        "type": "modbus-write",
        "z": "831fc420f4ebbd11",
        "name": "FC16 - 512",
        "showStatusActivities": false,
        "showErrors": true,
        "unitid": "",
        "dataType": "MHoldingRegisters",
        "adr": "512",
        "quantity": "4",
        "server": "22686392499a3421",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "x": 510,
        "y": 540,
        "wires": [
            [
                "9fee466534bfcb96"
            ],
            [
                "9fee466534bfcb96"
            ]
        ]
    },
    {
        "id": "1302b842e34b4158",
        "type": "comment",
        "z": "831fc420f4ebbd11",
        "name": "Control  - Write ",
        "info": "",
        "x": 160,
        "y": 500,
        "wires": []
    },
    {
        "id": "495bf7b5d0b3bf6e",
        "type": "function",
        "z": "831fc420f4ebbd11",
        "name": "",
        "func": "msg.payload = [768,2560,7967,7967];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 540,
        "wires": [
            [
                "8137850639a38754",
                "9fee466534bfcb96"
            ]
        ]
    },
    {
        "id": "476bbe061b1548e8",
        "type": "inject",
        "z": "831fc420f4ebbd11",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "495bf7b5d0b3bf6e"
            ]
        ]
    },
    {
        "id": "4ec9582cad76e6e1",
        "type": "comment",
        "z": "831fc420f4ebbd11",
        "name": "Control - Register",
        "info": "",
        "x": 150,
        "y": 620,
        "wires": []
    },
    {
        "id": "9fee466534bfcb96",
        "type": "debug",
        "z": "831fc420f4ebbd11",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 660,
        "wires": []
    },
    {
        "id": "cd59e6b7c777b8a6",
        "type": "modbus-read",
        "z": "831fc420f4ebbd11",
        "name": "FC3 - 512",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "HoldingRegister",
        "adr": "512",
        "quantity": "4",
        "rate": "5",
        "rateUnit": "h",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "22686392499a3421",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 180,
        "y": 660,
        "wires": [
            [
                "9fee466534bfcb96"
            ],
            []
        ]
    },
    {
        "id": "9a2e7479f0e1e022",
        "type": "comment",
        "z": "831fc420f4ebbd11",
        "name": "Status/Process",
        "info": "",
        "x": 160,
        "y": 760,
        "wires": []
    },
    {
        "id": "52797a2eedd88e4e",
        "type": "debug",
        "z": "831fc420f4ebbd11",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 800,
        "wires": []
    },
    {
        "id": "a658420c4764334e",
        "type": "modbus-read",
        "z": "831fc420f4ebbd11",
        "name": "FC4 - 0",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "unitid": "",
        "dataType": "InputRegister",
        "adr": "0",
        "quantity": "12",
        "rate": "5",
        "rateUnit": "h",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "22686392499a3421",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 170,
        "y": 800,
        "wires": [
            [
                "52797a2eedd88e4e"
            ],
            []
        ]
    },
    {
        "id": "a77c9a08d7eb6d8b",
        "type": "function",
        "z": "831fc420f4ebbd11",
        "name": "Both ON",
        "func": "msg.payload = [1,1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 140,
        "wires": [
            [
                "2f63c8fea707c9d0"
            ]
        ]
    },
    {
        "id": "a55006eaeed0a283",
        "type": "function",
        "z": "831fc420f4ebbd11",
        "name": "Both OFF",
        "func": "msg.payload = [0,0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 180,
        "wires": [
            [
                "2f63c8fea707c9d0"
            ]
        ]
    },
    {
        "id": "9f170ed278aaf860",
        "type": "comment",
        "z": "831fc420f4ebbd11",
        "name": "///////////////////// Power Measurment (750-495) /////////////////////",
        "info": "",
        "x": 210,
        "y": 440,
        "wires": []
    },
    {
        "id": "a145a67a8c33463d",
        "type": "comment",
        "z": "831fc420f4ebbd11",
        "name": "///////////////////// Digital Output (750-509) /////////////////////",
        "info": "",
        "x": 190,
        "y": 40,
        "wires": []
    },
    {
        "id": "22686392499a3421",
        "type": "modbus-client",
        "name": "",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.50.25",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true
    }
]